html,
* {
  font-family: "Pretendard Variable", Pretendard, -apple-system, sans-serif !important;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  /* 텍스트 렌더링 최적화 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* 제목 태그들이 시스템 폰트로 돌아가지 않도록 명시 */
h1, h2, h3, h4, h5, h6, button, input, select, textarea {
  font-family: "Pretendard Variable", Pretendard, sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
